* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    list-style:none;
    border:0;  
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    font-family: "Roboto", sans-serif;
  }
  
  :root {
    --primary-blue: #1F2937;
    --secondary-blue: #3882F6;
    --text-white: #F9FAF8;
    --text-gray: #E5E7EB;
  }
  
  a {
    color: var(--text-white);
    text-decoration: none;
  }
  
  a, button, input[type=radio], input[type=radio] + span {
    cursor: pointer;
  }
  
  ol, ul {
    list-style: none;
  }
  
  .header {  
    background-color: var(--primary-blue);
  
  }

  nav {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    height: 4.6875rem;
    padding: 1rem;
  }
  
  #logo {
    width: 50px;
    height: 50px;
  }
  
  .menu {
    display: flex;
    gap: 0.5rem;
  }
  
  .menulink {
    color: var(--text-gray); 
    font-size: 18px;
    text-decoration: none;
    border: 1px solid transparent; 
    padding: 5px;
  
  }
  
  .menulink:hover {
    border: 1px solid var(--secondary-blue); 
    padding: 5px;
    animation: fadeoutBorder 0.9s ease;
  }
  
  @keyframes fadeoutBorder {
    from {  border: 1px solid var(--text-white);  } 
    to {  border: 1px solid var(--secondary-blue); }
  }
  
  .label-menu,
  .checkbox {
    display: none;
  }
  

.contact-info > img{
    width:100%;
}
.icon{
    height:20px;
    vertical-align: middle;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height:100vh;
}

h1 {
    font-size: 24px;
}

h1 {
    margin-top: 20px;
    font-size: 40px;
    color:#333;
}

 p{
    margin: 10px 0 20px 0;
    color:#666
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-info {
    flex: 1;
    margin-right: 20px;
}

.contact-info p {
    margin-bottom: 10px;
}

.contact-info p a{
    color: #333;
}

.contact-form {
    flex: 1;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

textarea {
    resize: vertical;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--secondary-blue);
    color: var(--text-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:  0.7s ease;
}

button:hover {
    opacity: 0.7;
}

footer  {
    text-align: center;
    background-color: var(--primary-blue);
    color: var(--text-white);
}
footer p{
    line-height: 4;
    color: var(--text-white);
}

@media (max-width: 768px) {
    #logo {
      width: 40px;
      height: 40px;
    }
  
    .menu {
      display: block;
      position: absolute;
      top: 4.6875rem;
      left: 0;
      background: var(--primary-blue);
      text-align: center;
      width: 100%;
      height: 0;
      z-index: 1;
      visibility: hidden;
      overflow-y: hidden;
      transition: 0.5s;
    }
  
    .menu li {
      margin: 20px;
    }
  
    .menu a {
      padding: 1rem 0;
      margin-inline: 1rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.16);
      border-radius: 0;
    }
  
    .label-menu {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: var(--text-white);
      padding: 1rem 0;
      cursor: pointer;
    }
  
    .hamburger {
      border-top: 5px solid;
      width: 25px;
    } 
  
    .hamburger::after,
    .hamburger::before {
      content: " ";
      display: block;
      width: 25px;
      height: 5px;
      background: currentColor;
      margin-top: 5px;
      position: relative;
      transition: 0.3s;
    }
  
    .checkbox:checked ~ .menu {
      height: calc(100vh - 4.6875rem);
      visibility: visible;
      overflow-y: auto;
    }
  
    .checkbox:checked ~ .label-menu .hamburger {
      border-top-color: transparent;
    }
  
    .checkbox:checked ~ .label-menu .hamburger::before {
      transform: rotate(135deg);
    }
  
    .checkbox:checked ~ .label-menu .hamburger::after {
      transform: rotate(-135deg);
      top: -0.4375rem;
    }

    .contact-section{
        flex-direction: column-reverse;
        align-items: center;
    }
    .contact-info{
        text-align: center;
    }
  }

