:root {
  --primary-blue: #1F2937;
  --secondary-blue: #3882F6;
  --text-white: #F9FAF8;
  --text-gray: #E5E7EB;
}

*,
::before,
::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border:black solid 1px; */
  font-family: "Roboto", sans-serif;
}
a{
  text-decoration: none;
  color: var(--text-white)
}

li{
  list-style: none;
}

.bg{
  background-color: var(--primary-blue);
  
}

.header {  
  background-color: var(--primary-blue);

}

nav {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  height: 4.6875rem;
  padding: 1rem;
}

#logo {
  width: 50px;
  height: 50px;
}

.menu {
  display: flex;
  gap: 0.5rem;
}

.menulink {
  color: var(--text-gray); 
  font-size: 18px;
  text-decoration: none;
  border: 1px solid transparent; 
  padding: 5px;

}

.menulink:hover {
  border: 1px solid var(--secondary-blue); 
  padding: 5px;
  animation: fadeoutBorder 0.9s ease;
}

@keyframes fadeoutBorder {
  from {  border: 1px solid var(--text-white);  } 
  to {  border: 1px solid var(--secondary-blue); }
}

.label-menu,
.checkbox {
  display: none;
}

.wrapper{
  max-width: 1191px;
  margin:0 auto;
} 

section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article h1{
  font-size: 48px;
  color: var(--text-white);
  font-weight: 900;
}

article p{
  color: var(--text-gray);
  opacity: 0.8;
  margin-top: 25px;
  font-size: 18px;
}

article img{
  max-width: 100%;
  height: auto; 
}

article button{
  padding: 17px 65px;
  background-color: var(--secondary-blue);
  font-size: 32px;
  border-radius: 10px;
  margin-top: 45px;
  border: none;
}

.quote-line {
  color: #333333;
  font-size: 2em; 
  margin: 0; 
  padding: 5px 0; 
  font-style: italic;
}

.event-name {
  color: #333333;
  font-size: 3em; 
  margin-top: 30px; 
  font-weight: bold; 
}

.footer {
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  padding: 40px 0;
}

.newsletter-container h2 {
  font-size: 3em;
  margin-bottom: 10px;
}

.newsletter-container p {
  font-size: 1em;
  margin-bottom: 20px;
}

.newsletter-container form {
  display: inline-block;
}

.newsletter-container input[type="email"] {
  padding: 10px;
  margin-right: -4px;
  border: 1px solid #ccc;
  border-right: none;
}

.newsletter-container button {
  padding: 10px;
  background-color: var(--secondary-blue);
  color: white;
  border: none;
  cursor: pointer;

  margin-top: 0px;
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  margin: 0 10px;
}

.social-container a:hover {
  color: #666;
}

.copyright-container p {
  font-size: 0.75em;
  color: #666;
}


button:hover{
  opacity: 0.7;
  transition:  0.7s ease;
}

/* md */
@media (max-width: 768px) { 
  
  article h1{
    font-size: 40px;
    font-weight: 900;
  }

  article p {
    margin-top: 15px;
    font-size: 16px;
  }

  button{
    padding: 13px 40px;
    font-size: 25px;
  }
}

/* xs */
@media (max-width: 475px) {



  article h1{
    font-size: 30px;
    font-weight: 600;
  }

  article p {
    font-size: 15px;
  }

  button{
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 25px;
  }

}

@media (max-width: 768px) {
  #logo {
    width: 40px;
    height: 40px;
  }

  .menu {
    display: block;
    position: absolute;
    top: 4.6875rem;
    left: 0;
    background: var(--primary-blue);
    text-align: center;
    width: 100%;
    height: 0;
    z-index: 1;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.5s;
  }

  .menu li {
    margin: 20px;
  }

  .menu a {
    padding: 1rem 0;
    margin-inline: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 0;
  }

  .label-menu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-white);
    padding: 1rem 0;
    cursor: pointer;
  }

  .hamburger {
    border-top: 5px solid;
    width: 25px;
  } 

  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 25px;
    height: 5px;
    background: currentColor;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
  }

  .checkbox:checked ~ .menu {
    height: calc(100vh - 4.6875rem);
    visibility: visible;
    overflow-y: auto;
  }

  .checkbox:checked ~ .label-menu .hamburger {
    border-top-color: transparent;
  }

  .checkbox:checked ~ .label-menu .hamburger::before {
    transform: rotate(135deg);
  }

  .checkbox:checked ~ .label-menu .hamburger::after {
    transform: rotate(-135deg);
    top: -0.4375rem;
  }
}

#overview{
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  gap: 10px;
}

.overview-header{
  font-size: 48px;
  font-weight: 800;
  color: var(--primary-blue);
  line-height: 56px;
  align-self: center;
}

#pics{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

img:hover{
  border-radius: 9px;
  filter: drop-shadow(5px 5px 9px rgba(82, 83, 83, 0.301));
}
figure{
  border: 1px solid var(--secondary-blue);
  display: flex;
  flex-direction: column; 
  padding: 12px;
  align-items: center;
  border-radius: 10px;
  width: 232px;
  height: 250px;
}

figcaption{
  margin-top: 5px;
}

figcaption > a{
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  padding: 2px 25px;
  color: var(--text-white);
  background-color: var(--primary-blue);
  border-radius: 10px;
}

figcaption > a:hover{
  color: var(--text-white);
  background-color: var(--secondary-blue);
}

#kid,#women,#men,#all{
  height: 200px;
  width: 200px;
  cursor: pointer;
  border-radius: 10px;
}

/* Make it responsive! */
@media (max-width:768px) {
  #overview{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
  
}

.quote-section {
  background-color: #ffffff; 
  text-align: center;
  padding: 50px 20px;
  line-height: 1.4; 
  margin: 0 auto; 
}

.quote-line {
  color: #333333;
  font-size: 2em; 
  margin: 0; 
  padding: 5px 0; 
  font-style: italic;
}

.event-name {
  color: #333333;
  font-size: 3em; 
  margin-top: 30px; 
  font-weight: bold; 
}

.footer {
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  padding: 40px 0;
}

.newsletter-container h2 {
  font-size: 3em;
  margin-bottom: 10px;
}

.newsletter-container p {
  font-size: 1em;
  margin-bottom: 20px;
}

.newsletter-container form {
  display: inline-block;
}

.newsletter-container input[type="email"] {
  padding: 10px;
  margin-right: -4px;
  border: 1px solid #ccc;
  border-right: none;
}

.newsletter-container button {
  padding: 10px;
  background-color: var(--secondary-blue);
  color: white;
  border: none;
  cursor: pointer;
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  margin: 0 10px;
}

.social-container a:hover {
  color: #666;
}

.copyright-container p {
  font-size: 0.75em;
  color: #666;
}