:root {
  --primary-blue: #1F2937;
  --secondary-blue: #3882F6;
  --text-white: #F9FAF8;
  --text-gray: #E5E7EB;
}

*,
::before,
::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* border:black solid 1px; */
}
a{
  text-decoration: none;
  color: var(--text-white)
}

.bg{
  background-color: var(--primary-blue);
  
}

.wrapper{
  max-width: 1191px;
  margin:0 auto;
  border: black solid 1px;
} 

header{
  border:red;
  width: 100%;
}
header .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a img{
  height: 76px;
}

nav{
  width: 30%;
  display: flex;
  justify-content:space-between;
}

section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article h1{
  font-size: 48px;
  color: var(--text-white);
  font-weight: 800;
}

article p{
  color: var(--text-gray);
  opacity: 0.8;
  margin-top: 25px;
  font-size: 18px;
}

article img{
  max-width: 100%;
  height: auto; 
}

button{
  padding: 17px 65px;
  background-color: var(--secondary-blue);
  font-size: 32px;
  border-radius: 10px;
  margin-top: 45px;
  border: none;
}